@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');  

body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #1F2937;
  padding: 16px 192px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.secondary,
.hero-right,
a {
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 32px;
}

a {
  text-decoration: none;
}

.hero-content {
  padding: 96px 0;
  display: flex;
  gap: 64px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

.hero-right {
  background-color: #6d747d;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: bold;
  padding: 8px;
  border: none;
  border-radius: 8px;
  width: 112px;
}

.info {
  margin: 32px 192px;
}

.info-title {
  color: #1F2937;
  font-size: 34px;
  font-weight: 900;
  text-align: center;
}

.item-container {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  gap: 8px;
}

.box {
  border: 4px solid #3882F6;
  border-radius: 16px;
  width: 150px;
  height: 150px;
}

.text{
  text-align: center;
  color: #6d747d;
}

.quote{
  background-color: #E5E7EB;
  padding: 80px 328px;
}

.quote-text,
.attribution {
  color: #1F2937;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  text-align: left;
}

.attribution {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.action {
  margin: 64px 248px;
  background-color: #3882F6;
  border-radius: 8px;
  padding: 32px 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  border: 2px solid #F9FAF8;
}

.action-title,
.action-message {
  color: #F9FAF8;
}

.action-title {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: center;
}
